In [1]:
import pandas as pd

In [2]:
pd.DataFrame

In [26]:
df = pd.DataFrame({'date': ['2016-6-10 20:30:0', 
                            '2016-7-1 19:45:30', 
                            '2013-10-12 4:5:1'],
                   'value': [2, 3, 4]})

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3 non-null      object
 1   value   3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

In [27]:
df['date'] = pd.to_datetime(df['date'])

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3 non-null      datetime64[ns]
 1   value   3 non-null      int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 176.0 bytes

In [19]:
df = df.set_index(['date'])

In [30]:
df[0:1]['date'].dt.year

2016

In [32]:
df['uptodate'] = df.apply(lambda row: 2020-row.date.year, axis=1)

In [33]:
df

                 date  value  uptodate
0 2016-06-10 20:30:00      2         4
1 2016-07-01 19:45:30      3         4
2 2013-10-12 04:05:01      4         7